[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
coverage = "*"
pytest = "*"
nltk = "*"
numpy = "*"

[dev-packages]
build = "*"
twine = "*"

[requires]
python_version = "3"
